@import './mixin'

body
  background: #F3F3F3
  margin: 0
  
  header
    width: 100%
    background-color: #0071E5
    border-top: 5px solid black
    
    .content
      width: 1000px
      height: 105px
      background-image: url('images/logo.png')
      background-repeat: no-repeat
      background-size: 325px 60px
      margin: 0 auto
      margin-top: 45px
      
  #content
    width: 1000px
    margin: 0 auto
    margin-top 60px
    border-top: 1px solid #D3D3D3
    border-bottom: 1px solid #D3D3D3
    height: 35px
    padding-top: 30px
    padding-bottom: 30px
    font-family: 'Open Sans Condensed', sans-serif
    font-size: 30px
    font-weight: 700
    text-align: center