body {
  background: #f3f3f3;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}
body header {
  width: 100%;
  background-color: #0071e5;
  border-top: 5px solid #000;
}
body header .content {
  width: 1000px;
  height: 105px;
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 325px 60px;
  margin: 0 auto;
  margin-top: 45px;
}
body #content {
  width: 1000px;
  margin: 0 auto;
}
body #content .tagline {
  margin-top: 60px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  height: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
